In [1]:
def is_even(num):

  if type(num) == int:
    if num % 2 == 0:
      return 'even'
    else:
      return 'odd'
  else:
    return 'pagal hai kya?'

In [2]:
# function
# function_name(input)
for i in range(1,11):
  x = is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [3]:
print(type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

### 2 Point of views

In [4]:
is_even('hello')

'pagal hai kya?'

### Parameters Vs Arguments

### Types of Arguments

- Default Argument
- Positional Argument
- Keyword Argument

In [5]:
def power(a=1,b=1):
  return a**b

In [6]:
power()

1

In [7]:
# positional argument
power(2,3)

8

In [8]:
# keyword argument
power(b=3,a=2)

8

### `*args and **kwargs`
`*args and **kwargs` are special Python keywords that are used to pass the variable length of arguments to a function

In [9]:
# *args
# allows us to pass a variable number of non-keyword arguments to a function.

def multiply(*kwargs):
  product = 1

  for i in kwargs:
    product = product * i

  print(kwargs)
  return product

In [10]:
multiply(1,2,3,4,5,6,7,8,9,10,12)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12)

43545600

In [11]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.

def display(**salman):

  for (key,value) in salman.items():
    print(key,'->',value)

In [12]:
display(india='delhi',srilanka='colombo',nepal='kathmandu',pakistan='islamabad')

india -> delhi
srilanka -> colombo
nepal -> kathmandu
pakistan -> islamabad

##### Points to remember while using `*args and **kwargs`

- order of the arguments matter(normal -> `*args` -> `**kwargs`)
- The words “args” and “kwargs” are only a convention, you can use any name of your choice

### How Functions are executed in memory?

### Without return statement

In [13]:
L = [1,2,3]
print(L.append(4))
print(L)

None
[1, 2, 3, 4]

### Variable Scope

In [14]:
def g(y):
    print(x)
    print(x+1)
x = 5
g(x)
print(x)

5
6
5

In [15]:
def f(y):
    x = 1
    x += 1
    print(x)
x = 5
f(x)
print(x)

2
5

In [17]:
def f(x):
   x = x + 1
   print('in f(x): x =', x)
   return x

x = 3
z = f(x)
print('in main program scope: z =', z)
print('in main program scope: x =', x)

in f(x): x = 4
in main program scope: z = 4
in main program scope: x = 3

### Nested Functions

In [18]:
def f():
  def g():
    print('inside function g')
    f()
  g()
  print('inside function f')

In [20]:
# f()

In [21]:
def g(x):
    def h():
        x = 'abc'
    x = x + 1
    print('in g(x): x =', x)
    h()
    return x

x = 3
z = g(x)

in g(x): x = 4

In [22]:
def g(x):
    def h(x):
        x = x+1
        print("in h(x): x = ", x)
    x = x + 1
    print('in g(x): x = ', x)
    h(x)
    return x

x = 3
z = g(x)
print('in main program scope: x = ', x)
print('in main program scope: z = ', z)

in g(x): x =  4
in h(x): x =  5
in main program scope: x =  3
in main program scope: z =  4

### Functions are 1st class citizens

In [23]:
# type and id
def square(num):
  return num**2

type(square)

id(square)

136542487502784

In [24]:
# reassign
x = square
id(x)
x(3)

9

In [25]:
a = 2
b = a
b

2

In [26]:
# deleting a function
del square

In [28]:
# square(3)

In [30]:
def f():
    def x(a, b):
        return a+b
    return x

val = f()(3,4)
print(val)

7

In [ ]:
# function as argument

In [31]:
def func_a():
    print('inside func_a')

def func_b(z):
    print('inside func_c')
    return z()

print(func_b(func_a))

inside func_c
inside func_a
None

In [32]:
# x -> x^2
lambda x:x**2

In [33]:
# x,y -> x+y
a = lambda x,y:x+y
a(5,2)

7

In [34]:
# check if a string has 'a'
a = lambda s:'a' in s
a('hello')

False

In [35]:
# odd or even
a = lambda x:'even' if x%2 == 0 else 'odd'
a(6)

'even'

### Higher Order Functions

In [36]:
# Example

def square(x):
  return x**2

def cube(x):
  return x**3

# HOF
def transform(f,L):
  output = []
  for i in L:
    output.append(f(i))

  print(output)

L = [1,2,3,4,5]

transform(lambda x:x**3,L)

[1, 8, 27, 64, 125]

### Map

In [37]:
# square the items of a list
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [38]:
# odd/even labelling of list items
L = [1,2,3,4,5]
list(map(lambda x:'even' if x%2 == 0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd']

In [39]:
# fetch names from a list of dict

users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]

list(map(lambda users:users['gender'],users))

['male', 'male', 'female']

### Filter

In [40]:
# numbers greater than 5
L = [3,4,5,6,7]

list(filter(lambda x:x>5,L))

[6, 7]

In [41]:
# fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']

list(filter(lambda x:x.startswith('a'),fruits))

['apple']

### Reduce

In [42]:
# sum of all item
import functools

functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [43]:
# find min
functools.reduce(lambda x,y:x if x>y else y,[23,11,45,10,1])

45