###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [1]:
# Write code here
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
zipped_lists = zip(list1, list2)
print(list(zipped_lists))

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [4]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [5]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
for i in range(len(candy_list)):
    print(candy_list[i],"-",no_of_items[i])

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [6]:
# Write code here
list1=[1,2,3,4,5,6]
sum=0
for i in list1:
    sum=sum+i
    print(sum)

1
3
6
10
15
21

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [7]:
# Write code here
num1 = [23,45,67,78,89,34]
num2= [34,89,55,56,39,67]
set1=set(num1)
set2=set(num2)
common_list = list(set1.intersection(set2))
common_list.sort()
print(common_list)

[34, 67, 89]

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [11]:
string='campusx is a channel for data-science aspirants.'
words=string.split()
print(words)

['campusx', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [17]:
list_of_lists = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

# Join inner lists to form words
words = ["".join(inner_list) for inner_list in list_of_lists]

# Join words with spaces to form the final sentence
sentence = " ".join(words)

print(sentence)

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [26]:
# Code here
list=['campusxIs', 'bestFor', 'dataScientist']
for i in range(len(list)):
        list[i]=list[i].replace('Is',' Is')
        list[i]=list[i].replace('For',' For')
        list[i]=list[i].replace('Scientist',' Scientist')
print(list)

['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [29]:
# Write code here
list1=set([1,2,3,4,5,1])
list2=set([2,3,5,7,8])
list3=list1.union(list2)
print(set(list3))

{1, 2, 3, 4, 5, 7, 8}

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [31]:
# Write code here
list1=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(list1)):
    print(max(list1[i]))

3
6
9

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [35]:
# Write code here
list1=[[0,1,2],[3,4,5],[6,7,8]]
print([[i[j] for i in list1] for j in range(len(list1[0]))])

[[0, 3, 6], [1, 4, 7], [2, 5, 8]]